<p id="notice"><%= notice %></p>

<div class="notification">
  <h1 class="title"><center>Citations<center></h1>
</div>

<br>

<center>
  <table class="table">
    <thead>
      <tr>
        <th>Citation</th>
        <th>Author</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <%= will_paginate @citations %>
      <% @citations.each do |citation| %>
        <tr>
          <td><%= citation.citation %></td>
          <td><%= citation.author %></td>
          <td><%= citation.created_at.strftime("%d %B %Y") %></td>
          <td><%= link_to citation, method: :delete, data: {confirm: 'You sure?'}, class: 'button is-danger' do %>
            Delete
          <% end %></td>
        </tr>
      <% end %>
      <%= will_paginate @citations %>
    </tbody>
  </table>
  <br>
  <%= link_to new_citation_path, class: 'button is-primary is-medium' do %>
    New Citation
  <% end %>
</center>
